*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(223, 244, 243, 0.928);
}

header{
  margin: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: #000;
   
    
}
header nav {
        position: relative;
        right: 30px;
}

header h1{
    position: relative;
    left: 20px;
}


#producto-contenedor {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 


.card .card-image .card-title {
    color: rgb(11, 121, 231);
    position: unset;
}  

.card{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
}


/* Modal */
.modal-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  background-color: transparent;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px ;
  z-index: 100;
} 

/* hacer visible el modal  */
.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito{
  width: 30rem;
  height: 10rem;
  background-color: rgb(213, 96, 96);
}


.productoEnCarrito {
  border-left: 5px solid rgb(22, 110, 139);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.boton-eliminar {
  background-color: rgb(109, 6, 6);
  color: lightblue;
  border: none;
  font-size: 20px;
}




